body
{
    background-color: rgb(39, 223, 236);
}
#hd3{
    display: inline-block;
    color: rgb(71, 250, 16);
    background-color: rgb(255, 240, 246);
    font-family: roboto;
   
}
     p {
         font-size: 18;
     }
     #exit {
        position:absolute;
        top: 1000px;
        right: 50px;
    }
