#b1 {
        position:absolute;
        top: 750px;
        right: 0px;
}
body
{
    background-color: rgb(11, 219, 226);
}
#hd3{
    display: inline-block;
    color: rgb(250, 16, 230);
    background-color: rgb(255, 240, 246);
    font-family: roboto;
    font-size: 30px;
     }
     
img{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(35, 243, 8);}
    to {box-shadow: 1px 1px 38px rgb(8, 32, 252);}
}
     